# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.arena-shooter.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Development\Unity\Test-Pull\arena-shooter\arena-shooter\.idea\.idea.arena-shooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
