# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.MLAPI_Tutorial.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\Unity\MLAPI_Tutorial\.idea\.idea.MLAPI_Tutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
